@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.Login {
  margin: auto;
  width: 600px;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  padding: 40px;
  text-align: center;
  background-color: white;
}

.logo{
  height: 200px;
  width: 200px;
}

.logoFont{
  font-family: 'Pacifico', cursive;
}


